//VARIABLES 
    //Colour Palette
$Primary: rgb(251, 209, 87);
$Secondary:#53435B;
$Tertiary: #E76666;
    //font
$font-family: 'Poppins', sans-serif;
    //dimensions
$BannerHeight: 200px;
$mainHeight: 70vh;
$footerHeight: 20vh;
//MIXINS

@mixin fullscreen(){
    width: 100%;
    height: 100%;
}

.btn{
    padding: 1rem;
    margin: 1rem;
    color: $Secondary;
    font-size: 1rem;
    border-radius: 10px;
    border-style: solid;
    background-color: $Tertiary;
}

@mixin mobile-mainsection {
    display: flex;
    flex-direction: column;
    height: $mainHeight;
}

//GENERAL----------------------------------
*{
    font-family: $font-family;
    color: $Secondary;
}
html{
    background-color: $Primary;
}
a{
    text-decoration: none;
}

footer{
    height: $footerHeight;
}

//Branding Elements 

.img__logo{
    @include fullscreen();
    margin: 4rem 0rem;
}  

.footer__slogan{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

//this is for the banner
.header--style1{
    display: flex;
    justify-content: space-around;
    .header--logo{
        height: 150px;
        margin: 1rem;
        width: auto;
    }
}

.header--create{
    background-color: $Secondary;
    h1{
        color: $Primary;
    }
}

.header--play{
    background-color: $Tertiary;
    h1{
        color: $Primary;
    }
}

.footer--create{
    background-color: $Secondary;
    width: 100%;
    height: 20vh;
    h3{
        color: $Primary;
    }
}

//HOMEPAGE ------------------------------------
.homepage{
        @include fullscreen();
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;

    .div__loginRegister{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width: 100%;

    .btn--signup, .btn--login{
        color: whitesmoke;
        width: 80%;
    }    
  }
  .header__slogan{
    text-align: center;
    margin: auto;
  }
}

//SIGNUPLOGIN FORM -------------------------------------------
.main--style1{
    // display: flex;
    // flex-direction: column;
    //made this into a mixin, will need to find and replace
    @include mobile-mainsection();

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: $mainHeight;
        background-color: $Secondary;
        label{
        color: $Primary;
        margin-bottom: 0.5rem;
        input, .submit--btn{
            display: block;
            padding: 1rem;
            margin: 0.5rem;
            width: 70vw;
            border-radius: 10px;
            background-color: whitesmoke;
            }
        }
        .submit--btn{
            width: 80vw;
        }
    }
}

// CREATE NEW JOKE FORM -----------------------------------------------

.main__createNewJoke{
    @include mobile-mainsection();
    padding-top: 2rem;
    justify-content: space-around;
    align-items: center;

    input{
        border: none;
        margin: 1.5rem;
        padding: 1rem;
        width: 75vw;
    }
}

//MAIN MENU - NAVIGATION BAR ----------------------------
.nav__mainmenu{
    background-color: $Secondary;
    height: $mainHeight;

    //create mixin for flex, column, align content, useful for mobile view 
    .btn--nav{
    color: whitesmoke;
    text-align: center;
    margin: 0.5rem;
    }
}
    //QUESTION CARD-----------------

//PAGES -------------------------------------------
    //LOGIN FORM


 
