//VARIABLES 
    // Media query parameters
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px; 
    //Colour Palette
$Primary: rgb(251, 209, 87);
$Secondary:#53435B;
$Tertiary: #E76666;
$label: white;
    //font
$font-family: 'Poppins', sans-serif;
    //dimensions
//MIXINS
@mixin block-responsive{
    display: block;
    @media (min-width: $tablet) {
    display: inline-block;
    }
    @media (min-width: $desktop) {
    display: inline-block;
    }
}

//GENERAL----------------------------------
*{
    font-family: $font-family;
    color: $Secondary; 
}
html{
    // background-color: $Primary;
    a{
        text-decoration: none;
    }
}

.currentpage{
    border-bottom: solid #FAFAFA 5px;
    color: #FAFAFA;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding-bottom: 23px;
    padding-top: 17px;
    @media (min-width: $tablet) {
        width: 80px;
        margin: 0px 28px;        
        padding: 28px 0px;
    }
}

.hide {
    display: none;
}

.show{
    display: block;
}

//PAGE LAYOUT COMPONENTS -----------------------------

    //HEADER------------------------
    header, nav{
        // @include label;
        background-color: $Primary;
        color: $Secondary;
        // height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        flex-wrap: no-wrap;
        @media (min-width: $tablet) {
            padding: 0px 24px;
            display: flex;
            flex-direction: row;  
        }
            @media (min-width: $desktop) {
                padding: 0px 0px  0px 180px;
            }
        & *, h1{
            display: inline-block;
        }
        h1{
            padding: 0.25rem 1rem;
        }
    //     .header__nav, .header__div--links{
    //         @include block-responsive();
    //     }
    }
    
    .a--nav{
        color: $Secondary;
        display: inline-block;
        text-align: center;
        width: 49%;
        margin: 0.5rem; 
        padding-bottom: 8px;
        padding-top: 16px;
        text-decoration: none;
        @media (min-width: $tablet) {
            width: 80px;
            margin: 0px 28px;
            padding: 28px 0px;
            }
        }
    .a--nav:hover{
        @extend .currentpage;
        background-color: $Tertiary; 
    }

    //FOOTER ------------------
footer{
    @extend header;
    display: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;

    .a--footer{
        @extend .a--nav;
        width: 100%;
    }
}

//---------------
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 70vw;

    fieldset {
        margin: 1rem auto;
    }
}

// CREATE NEW FORM -----------------
.form--part1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

textarea{
    display: block;
    padding: 1rem;
    width: 80vw;
}

input, select {
    margin: 2rem;
    padding: 0.5rem;
}

.show{
 input{
        display: block;
        width: 50vw;
        margin: 1rem;
    }
}

button{
    @extend input;
}

.span--submit{
    display: flex;
    justify-content: flex-start;
}

//PLAYCARD -----------------

.playCard{
    width: 300px;
    height: 400px;
    background-color: $Tertiary;
    border-radius: 10px;
}