

//VARIABLES 
    // Media query parameters
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px; 
    //Colour Palette
$Primary: rgb(251, 209, 87);
$Secondary:#53435B;
$Tertiary: #E76666;
$label: white;
$background: rgb(209, 224, 229);
    //Second option
$Primarya: rgb(251, 209, 87);
$Secondarya:#53435B;
$Tertiarya: #E76666;
$label: white;


    //font
$font-family: 'Poppins', sans-serif;
    //dimensions
//MIXINS
@mixin block-responsive{
display: block;
    @media (min-width: $tablet) {
    display: inline-block;
    }
    @media (min-width: $desktop) {
    display: inline-block;
    }
}

button{
    border-style: none;
    border-color: none;
    background-color: $Primary;
}

//LAYOUT 

.hide {
    display: none;
}

.show{
    display: block;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    padding-bottom: 10rem;
    @media (min-width: $tablet) {
        padding-top: 25vh;
        padding-bottom: 10rem;
    }
}

@mixin background{
    background-image: url('../Assets/Background/tiles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//TEXT -----------------
h4{
text-decoration: none;
font-family: $font-family;
color:	$Secondary;
font-weight: 300;
font-size: 13px;
line-height: 10px;
    @media (min-width: $tablet) {
        font-size: 14px;
        line-height: 22px;
    }
}
//USER AVATAR ----------------------
.userAvatar{
    display: flex;
    & > *{
    margin: 2rem;
    }
}
//CLASSES 
.btn--standard{
    display: block;
}
//GENERAL----------------------------------
*{
    font-family: $font-family;
    color: $Secondary; 
}
html{
    background-color:$background;
    margin: 0px;
    padding: 0px;
    a{text-decoration: none;}
}
// HEADER --- DUMB ---------------------------------
header{
    position: fixed;
    width: 100%;
    background-color: $Primary;
    & > * {
        display: inline-block;
        width: 100px;
    }
    .header__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 1rem;
    .nav--container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        .userAvatar{
            display: flex;
            justify-content: space-between;
            align-items: center;    
            & > *{
                margin: 0.5rem;
            }
            .img--userAvatar{
                background-color: grey;
                width: 40px;
                height: 40px;
                border-radius: 50%;    
                }
            }
        }
    }
    .usermenu{
        position: absolute;
        right: 0px;
        top: 80px;
        background-color: whitesmoke;
        padding: 0rem 1rem;
        border: solid 1px grey;
    }
}
// FOOTER ---  ---------------------------------
footer{
    position: relative;
    bottom: 0px;
    padding: 2rem 1rem;
    width: 100%;
    background-color: $Primary;
    .companyName{
        text-align: center;
        margin: 3rem;
    }
}
//LANDING PAGE -----------------
.landingPage{
    height: 60vh;
    .div__btnContainer{ 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        @media (min-width: $tablet) {
        flex-direction: row;
        }
        .btn{
            height: 55px;
            width: 130px;
            margin: 1rem; 
        }
    }
}

.img--logo{
    width: 300px;
    height: auto;        
    @media (min-width: $tablet) {
        width: 450px;
    }
}

//FORMS
.modalwrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    @media (min-width: $tablet) {
        align-items:center;
        padding: 1rem;
        height: 100vh;
    }
    span{
        background-color: whitesmoke;
        border-radius: 4px;
        width: 100%;
        height: 120vh;
        padding: 2rem 1.2rem;
        @media (min-width: $tablet) {
            width: 500px;
            height: 600px;
        }
    } 
}

form{
    label, input{
        display:block;
        width: 90%;
    }
    input{
        padding: 0.5rem;
        margin-top: 1rem;
    }
    label{
        margin: 1rem;
    }
    .submit--btn{
    position: absolute;
    right: 1rem;
    margin: 3rem auto; 
    border-radius: 4px;
    padding: 1rem;
    border-style: none;
    background-color: $Tertiary;
    width: 150px;
    font-size: 1rem;
    @media (min-width: $tablet) {
        width: 200px;
        }
    }
}

//LOGIN FORM 
.loginPage{
    position: relative;

    .close--btn{
        position: absolute;
        right: 0px;
        top: 0px;  
        width: 35px;
        height: 35px; 
        font-size: 20px;
    }
}

.SignupPage{
    position: relative;
    .close--btn{
        position: absolute;
        top: -2.75rem;
        right: -0.75rem;
    }
}
//SIGNUP FORM

// MAIN MENU PAGE ---------------------
.a--mainmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    border-radius: 68px;
    background-color: $Secondary;
    color:$background;
    height: 40px;
    font-weight: 600;
    margin: 1rem;
    text-align:center;
    @media (min-width: $tablet) {
        margin: 1.5rem;
        width: 50vw;
        height: 60px;
    }
}

