button {
  border-style: none;
  border-color: none;
  background-color: #fbd157;
}

.next--btn {
  padding: 0.25rem;
  width: 100px;
  margin: auto 0.75rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.yellow {
  color: #fbd157;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 41vh;
  padding-bottom: 10rem;
}

@media (min-width: 768px) {
  main {
    padding-top: 25vh;
    padding-bottom: 10rem;
  }
}

h4 {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #53435B;
  font-weight: 300;
  font-size: 13px;
  line-height: 10px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
}

.userAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userAvatar > * {
  margin: 2rem;
}

.btn--standard {
  display: block;
}

* {
  font-family: "Poppins", sans-serif;
  color: #53435B;
}

html {
  background-color: #d1e0e5;
  margin: 0px;
  padding: 0px;
}

html a {
  text-decoration: none;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #fbd157;
}

@media (max-width: 350px) {
  header {
    display: none;
  }
}

header > * {
  display: inline-block;
  width: 100px;
}

header .header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  padding: 1rem;
}

header .header__nav .nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
}

header .header__nav .nav--container .userAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__nav .nav--container .userAvatar > * {
  margin: 0.5rem;
}

header .header__nav .nav--container .userAvatar .img--userAvatar {
  background-color: grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .usermenu {
  position: absolute;
  right: 0px;
  top: 80px;
  background-color: whitesmoke;
  padding: 0rem 1rem;
  border: solid 1px grey;
}

header .grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .grouping .header__div--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .grouping .header__div--links .a--nav {
  padding: 30px 0px;
  margin: auto 1rem;
}

header .grouping .header__div--links .a--nav:hover {
  color: #E76666;
}

footer {
  position: relative;
  bottom: 0px;
  padding: 2rem 1rem;
  width: 100%;
  background-color: #fbd157;
}

footer .companyName {
  text-align: center;
  margin: 1rem;
}

.landingPage {
  height: 60vh;
}

@media (min-width: 768px) {
  .landingPage {
    height: 70vh;
  }
}

.landingPage .div__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .landingPage .div__btnContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.landingPage .div__btnContainer .btn {
  height: 55px;
  width: 130px;
  margin: 1rem;
}

.img--logo {
  width: 300px;
  height: auto;
}

@media (min-width: 768px) {
  .img--logo {
    width: 450px;
  }
}

.SignupPage {
  background-color: whitesmoke;
  border-radius: 4px;
  width: 100%;
  height: 60vh;
  padding: 2rem 1.2rem;
  padding-top: 100px;
}

@media (min-width: 400px) {
  .SignupPage {
    height: 800px;
  }
}

@media (min-width: 768px) {
  .SignupPage {
    height: 600px;
  }
}

.SignupPage .close--btn {
  position: absolute;
  top: 8.5rem;
  right: 1rem;
}

form label, form input {
  display: block;
  width: 90%;
}

form input {
  padding: 0.5rem;
  margin-top: 0.75rem;
}

form label {
  margin: 1rem;
}

form .submit--btn {
  position: absolute;
  right: 1rem;
  margin: 3rem auto;
  border-radius: 4px;
  padding: 1rem;
  border-style: none;
  background-color: #E76666;
  width: 150px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  form .submit--btn {
    width: 200px;
  }
}

.loginPage {
  position: relative;
  height: 350px;
  background-color: whitesmoke;
  border-radius: 4px;
  width: 100%;
  height: 70vh;
  padding: 2rem 1.2rem;
  padding-top: 110px;
}

.loginPage .close--btn {
  position: absolute;
  right: 20px;
  top: 125px;
  width: 35px;
  height: 35px;
  font-size: 20px;
}

.a--mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  border-radius: 68px;
  background-color: #53435B;
  color: #d1e0e5;
  height: 40px;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .a--mainmenu {
    margin: 1.5rem;
    width: 50vw;
    height: 60px;
  }
}

.createNewJokeForm {
  padding: 18vh 1rem;
  width: 100%;
}

.createNewJokeForm fieldset {
  margin: 1rem 0rem;
}

.createNewJokeForm .CreateNewForm label > * {
  display: block;
  width: 300px;
  margin: 1rem;
  padding: 0.25rem;
}

.createNewJokeForm .span--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createNewJokeForm .span--submit input {
  padding: 0.25rem;
  width: 150px;
  margin: auto 0.75rem;
  background-color: #fbd157;
  border-style: none;
}

.createNewJokeForm .span--submit input:hover {
  background-color: #E76666;
}

.form--part1 {
  position: relative;
}

.form--part1 .form--part2 label > * {
  width: 80vw;
}

.newGroup {
  background-color: #fbd157;
  text-align: center;
  padding: 0.25rem;
  position: relative;
  right: 26px;
  width: 145px;
}

.triviaForm fieldset {
  position: relative;
  padding: 3rem;
}

.triviaForm select {
  display: block;
  width: 300px;
  margin: 2rem;
  padding: 0.25rem;
}

.triviaForm .next--btn {
  position: absolute;
  right: 0px;
  padding: 0.25rem;
  width: 150px;
  margin: auto 0.75rem;
  background-color: #fbd157;
  border-style: none;
}

.GameRulesPage {
  text-align: left;
}

.GameRulesPage > * {
  width: 90%;
}

.GameRulesPage h5 {
  text-align: center;
}

.triviaChoice--btn {
  display: block;
  margin: 1rem;
}

.triviaChoice--btn:hover {
  background-color: #E76666;
  color: whitesmoke;
}

.fullquestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin: auto;
  background-color: #53435B;
}

.fullquestion span {
  color: #fbd157;
}

.fullquestion h1 {
  color: #fbd157;
}

.fullquestion .triviaQuestion {
  color: #fbd157;
  width: 300px;
  padding: 1rem;
  background-color: #fbd157;
  margin: 2rem 0rem;
}

.fullquestion--mc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  padding: 1rem 2rem;
  margin: auto;
  margin-bottom: 3rem;
  height: 50vh;
  background-color: #53435B;
  background-color: #53435B;
}

.fullquestion--mc > *, .fullquestion--mc * {
  color: #fbd157;
}

.fullquestion--mc button {
  width: 300px;
  color: #53435B;
}

.fullquestion--mc .triviachoice {
  width: 65vw;
  margin: 0.25rem;
}

.triviaGameDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=App.css.map */