


//VARIABLES 
    // Media query parameters
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px; 
    //Colour Palette
$Primary: rgb(251, 209, 87);
$Secondary:#53435B;
$Tertiary: #E76666;
$label: white;
$background: rgb(209, 224, 229);

    //font
$font-family: 'Poppins', sans-serif;
    //dimensions
//MIXINS
@mixin block-responsive{
display: block;
    @media (min-width: $tablet) {
    display: inline-block;
    }
    @media (min-width: $desktop) {
    display: inline-block;
    }
}

button{
    border-style: none;
    border-color: none;
    background-color: $Primary;
}

//LAYOUT 

.hide {
    display: none;
}

.show{
    display: block;
}

.next--btn{
    padding: 0.25rem;
    width: 100px;
    margin: auto 0.75rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 41vh   ;    
    padding-bottom: 10rem;
    @media (min-width: $tablet) {
        padding-top: 25vh;
        padding-bottom: 10rem;
    }
}

@mixin background{
    background-image: url('../Assets/Background/tiles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//TEXT -----------------
h4{
text-decoration: none;
font-family: $font-family;
color:	$Secondary;
font-weight: 300;
font-size: 13px;
line-height: 10px;
    @media (min-width: $tablet) {
        font-size: 14px;
        line-height: 22px;
    }
}
//USER AVATAR ----------------------
.userAvatar{
    display: flex;
    & > *{
    margin: 2rem;
    }
}
//CLASSES 
.btn--standard{
    display: block;
}
//GENERAL----------------------------------
*{
    font-family: $font-family;
    color: $Secondary; 
}
html{
    background-color:$background;
    margin: 0px;
    padding: 0px;
    a{text-decoration: none;}
}
// HEADER --- DUMB ---------------------------------
header{
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: $Primary;
    & > * {
        display: inline-block;
        width: 100px;
    }
    .header__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 1rem;
    .nav--container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        .userAvatar{
            display: flex;
            justify-content: space-between;
            align-items: center;    
            & > *{
                margin: 0.5rem;
            }
            .img--userAvatar{
                background-color: grey;
                width: 40px;
                height: 40px;
                border-radius: 50%;    
                }
            }
        }
    }
    .usermenu{
        position: absolute;
        right: 0px;
        top: 80px;
        background-color: whitesmoke;
        padding: 0rem 1rem;
        border: solid 1px grey;
    }
}

//Header with Links 
header{
    .grouping{
        display: flex;
        align-items: center;
        .header__div--links{
            display: flex;
            .a--nav{
                padding: 30px 0px;
                margin: auto 1rem;
                &:hover{
                color: $Tertiary;
                }
            }
        }
    }
}
// FOOTER ---  ---------------------------------
footer{
    position: relative;
    bottom: 0px;
    padding: 2rem 1rem;
    width: 100%;
    background-color: $Primary;
    .companyName{
        text-align: center;
        margin: 3rem;
    }
}
//LANDING PAGE -----------------
.landingPage{
    height: 60vh;
    @media (min-width: $tablet){
        height: 70vh; 
    }
    .div__btnContainer{ 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        @media (min-width: $tablet) {
        flex-direction: row;
        }
        .btn{
            height: 55px;
            width: 130px;
            margin: 1rem; 
        }
    }
}

.img--logo{
    width: 300px;
    height: auto;        
    @media (min-width: $tablet) {
        width: 450px;
    }
}

//FORMS
.modalwrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 105vh;
    background-color: rgba(0, 0, 0, 0.5);
    @media (min-width: 500px) {
        align-items:center;
        padding: 1rem;
        height: 110vh;
    }
    @media (min-width: $tablet) {
        align-items:center;
        padding: 1rem;
        height: 110vh;
    }
}
    .SignupPage{
        background-color: whitesmoke;
        border-radius: 4px;
        width: 100%;
        height: 60vh;
        padding: 2rem 1.2rem;
        padding-top:100px;
        @media (min-width: 400px) {
            // width: 500px;
            height: 800px;
        }
        @media (min-width: $tablet) {
            // width: 500px;
            height: 600px;
        }
    .close--btn{
        position: absolute;
        top: 8.5rem;
        right: 1rem; 
        }
    } 

form{
    label, input{
        display:block;
        width: 90%;
    }
    input{
        padding: 0.5rem;
        margin-top: 0.75rem;
    }
    label{
        margin: 1rem;
    }
    .submit--btn{
    position: absolute;
    right: 1rem;
    margin: 3rem auto; 
    border-radius: 4px;
    padding: 1rem;
    border-style: none;
    background-color: $Tertiary;
    width: 150px;
    font-size: 1rem;
    @media (min-width: $tablet) {
        width: 200px;
        }
    }
}

//LOGIN FORM 
.loginPage{
    position: relative;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 4px;
    width: 100%;
    height: 70vh;
    padding: 2rem 1.2rem;
    padding-top:110px;

    .close--btn{
        position: absolute;
        right: 20px;
        top: 125px; 
        width: 35px;
        height: 35px; 
        font-size: 20px;
    }
}

//SIGNUP FORM

// MAIN MENU PAGE ---------------------
.a--mainmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    border-radius: 68px;
    background-color: $Secondary;
    color:$background;
    height: 40px;
    font-weight: 600;
    margin: 1rem;
    text-align:center;
    @media (min-width: $tablet) {
        margin: 1.5rem;
        width: 50vw;
        height: 60px;
    }
}

// CREATE NEW FORM ---------------------------
.createNewJokeForm{
    padding: 18vh 1rem;
    width: 100%;
    fieldset{
        margin: 1rem 0rem;
    }
    .CreateNewForm{
        label > * {
            display: block;
            width: 300px;
            margin: 1rem;
            padding: 0.25rem;
        }
    }
    .span--submit{
        display: flex;
        justify-content: space-between;
        input{
            padding: 0.25rem;
            width: 150px;
            margin: auto 0.75rem;
            background-color: $Primary;
            border-style: none;

            &:hover{
            background-color: $Tertiary;
            }
        }
    }
}
    .form--part1{
        position: relative;

    .form--part2{
      label > *{
          width: 80vw;
      }  
    }
}
.newGroup{
 background-color: $Primary;
 text-align:center;
}
////TRIVIA FORM 
.triviaForm{
fieldset{
    position: relative;
    padding: 3rem;
}
select{
    display: block;
    width: 300px;
    margin: 2rem;
    padding: 0.25rem;
}
.next--btn{
    position: absolute;
    right: 0px;
    padding: 0.25rem;
    width: 150px;
    margin: auto 0.75rem;
    background-color: $Primary;
    border-style: none;   
    }
}

.scoreboard{
    position: absolute;
    bottom: -65px;
    left: 0px;
    text-align: center;
    background-color: $Tertiary;   
    width: 200px;

    @media (min-width: 300px) {
        bottom: -120px;
        bottom: 90px;

    }
    @media (min-width: 300px) {
        bottom: 83px;
    }
    @media (min-width: $tablet) {
        bottom: -75px;
    }
    @media (min-width: $desktop) {
        top: 115px;
        bottom: 100px;
    }

    &:hover{
        bottom: 32px;
        @media (min-width: $tablet) {
            bottom: 115px;
        }    
    }

    * {
    color: whitesmoke; 
    }

    & > * {
     margin: 0.5rem;
     border-radius: 4px;
    }

}

///RULES AND REGULATIONS -----------------

.GameRulesPage{
    text-align: left;
    & > * {
        width: 90%;
    }
    h5{
        text-align: center;
    }
}


//TEST -------------------------------------------
.triviaChoice--btn{
    display: block;
    // padding: 1rem;
    margin: 1rem;   
    &:hover{
    background-color: $Tertiary;
    color: whitesmoke;
    }
}

.fullquestion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;

    span{
        color: $Primary;
    }
    h1{
        color: $Primary;
    }
 background-color:  $Secondary;
    .triviaQuestion{
        color: $Primary;
        width: 300px;
        padding: 1rem;
        // height: 250px;
        background-color: $Primary;
        margin: 2rem 0rem;
    }
}

.yellow{
    color: $Primary;
}

//TRUTHY FALSEY 

.fullquestion--mc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-bottom: 3rem;    
    background-color:  $Secondary;
    & > *, & *{
        color: $Primary; 
    }

    button{
        width: 300px;
        color: $Secondary; 
    }
}