* {
  font-family: "Poppins", sans-serif;
  color: #53435B;
}

html a {
  text-decoration: none;
}

.currentpage, .a--nav:hover, footer .a--footer:hover {
  border-bottom: solid #FAFAFA 5px;
  color: #FAFAFA;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-bottom: 23px;
  padding-top: 17px;
}

@media (min-width: 768px) {
  .currentpage, .a--nav:hover, footer .a--footer:hover {
    width: 80px;
    margin: 0px 28px;
    padding: 28px 0px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

header, footer, nav {
  background-color: #fbd157;
  color: #53435B;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

@media (min-width: 768px) {
  header, footer, nav {
    padding: 0px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1440px) {
  header, footer, nav {
    padding: 0px 0px  0px 180px;
  }
}

header *, footer *, header h1, footer h1, nav *, nav h1 {
  display: inline-block;
}

header h1, footer h1, nav h1 {
  padding: 0.25rem 1rem;
}

.a--nav, footer .a--footer {
  color: #53435B;
  display: inline-block;
  text-align: center;
  width: 49%;
  margin: 0.5rem;
  padding-bottom: 8px;
  padding-top: 16px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .a--nav, footer .a--footer {
    width: 80px;
    margin: 0px 28px;
    padding: 28px 0px;
  }
}

.a--nav:hover, footer .a--footer:hover {
  background-color: #E76666;
}

footer {
  display: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
}

footer .a--footer {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: 70vw;
}

main fieldset {
  margin: 1rem auto;
}

.form--part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

textarea {
  display: block;
  padding: 1rem;
  width: 80vw;
}

input, button, select {
  margin: 2rem;
  padding: 0.5rem;
}

.show input, .show button {
  display: block;
  width: 50vw;
  margin: 1rem;
}

.span--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.playCard {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
}

.playCard .displayquestion {
  background-color: #E76666;
}

.playCard .display--options {
  background-color: #E76666;
}

.playCard .displayanswer {
  background-color: #E76666;
}
/*# sourceMappingURL=App.css.map */